<div class="container__content">
    
    <div class="content__title">
        <h1>{{ pageTitle }}</h1>
    </div>
    <div class="contente__information">
        <div class="content">
            <h2 class="h2__title"> {{ h2Title }} </h2>

            <span class="content__text">
                {{ primeiroTexto }}
            </span>

            <h2 class="h2__title"> {{ h2Title2 }}</h2>

            <span class="content__text">
                {{ segundoTexto }}
            </span>
        </div>
        <div class="content__cover">
            <img src="{{ photoCover }}" alt="" width="600px">
        </div>
    </div>
</div>