<div class="container__content">
    <div class="img__content">
        <div class="content__cover">
            <img src="./assets/Big-Chief-405.webp" alt="" srcset="">
        </div>
    </div>    
    <div class="text__content">
    
        <div class="content__title">
            <h1>nome piloto</h1>
        </div>
        <div class="content__description">
            <p>descrição</p>
        </div>
        <div class="insta__piloto">
            <a href="" target="_blank">📲 Instagran do piloto</a>
        </div>
    </div>
</div>