<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles__main">
        <app-big-card photoCover="../assets/Big-Chief-405.webp" cardTitle="Big Chief" cardDescription="Justin shearer aka Big Chief corre nas ruas com seu carro Crow um pontiac GTO ." instaPiloto="https://www.instagram.com/bigchiefokc/"></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card photoCover="../assets/daddy-dave-405.jpg" cardTitle="Daddy dave " cardDescription="David Comstock aka Daddy Dave corre nas ruas com seu carro Goliath um chevrolet nova ." instaPiloto="https://www.instagram.com/daddydave_og/"></app-small-card>

        <app-small-card photoCover="../assets/murder-nova-405.webp" cardTitle=" Murder Nova " cardDescription="Shawn Ellington aka Murder Nova corre nas ruas com seu carro
        Murder Nova um chevrolet nova ." instaPiloto="https://www.instagram.com/murdernova/?hl=pt%2F"></app-small-card>

        <app-small-card photoCover="../assets/farmtruck-and-azn-405.jpg" cardTitle=" Framtruck e AZN " cardDescription="Farmtruck e Azn correm nas ruas cada um com seu carro
        Farmtruck com a Farmtruck uma chevrolet c10 Azn com seu Dung Beetle um volkswagen fusca" instaPiloto="https://www.instagram.com/fna405/"></app-small-card>
    </div>
</div>